%h1 My Todo Lists
- @lists.each do |list|
  %h2= link_to "#{list.name}", list_path(list) 
  %p
    = "#{list.description} - "
    = link_to "Edit", edit_list_path(list)
    = " - "
    = link_to "Delete", list_path(list), :method => :delete
    
    
%hr
  = link_to "New Todo List", new_list_path
