%h2= @list.name
%p= @list.description

%ul#tasks
  = render @list.tasks.active


= form_for [@list, @task], :remote => true do |f|
  %ul
    %li
      ~f.text_field :description, :placeholder => "New to do"
    %li.tags
      =f.text_field :tag_list, :placeholder => "Tags"
    %li.notes
      =f.text_area :notes, :placeholder => "Notes"
    %li
      =f.submit
%hr
= link_to "Back to list index", lists_path
|
= link_to "Archived To Do's", archives_list_path(@list)

-content_for :javascript do
  = render 'sort'
  

